In [3]:
import pandas as pd

# Import CSV file into pandas DataFrame
df = pd.read_csv('vine_table.csv')

# Print the first few rows of the DataFrame to check the data
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R215C9BDXTDQOW,4.0,0.0,0.0,N,Y
1,R1DTPUV1J57YHA,5.0,0.0,0.0,N,Y
2,RFAZK5EWKJWOU,5.0,0.0,0.0,N,Y
3,R2XT8X0O0WS1AL,5.0,0.0,0.0,N,Y
4,R14GRNANKO2Y2J,5.0,0.0,0.0,N,Y

In [4]:
df.dropna(inplace=True)

In [21]:
df.isna().sum()

review_id            0
star_rating          0
helpful_votes        0
total_votes          0
vine                 0
verified_purchase    0
dtype: int64

In [12]:
df.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [19]:
# Convert the "star_rating" column to integer data type
df['star_rating'] = df['star_rating'].astype(int)

# Convert the "helpful_votes" and "total_votes" columns to integer data type
df['helpful_votes'] = df['helpful_votes'].astype(int)
df['total_votes'] = df['total_votes'].astype(int)
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R215C9BDXTDQOW,4,0,0,N,Y
1,R1DTPUV1J57YHA,5,0,0,N,Y
2,RFAZK5EWKJWOU,5,0,0,N,Y
3,R2XT8X0O0WS1AL,5,0,0,N,Y
4,R14GRNANKO2Y2J,5,0,0,N,Y

In [20]:
df.to_csv('vine.csv', index=False)